In [6]:
import os
import pandas as pd
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier

In [7]:
df = pd.read_csv("combine.csv", index_col=0)
df.shape

/var/folders/lj/ngxfqbbj7xg_kxn_4jf4cjzc0000gn/T/ipykernel_82134/120112805.py:1: DtypeWarning: Columns (38,40,42,44,46,50,52) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("combine.csv", index_col=0)

(2879658, 55)

In [8]:
df = df.drop([
    'MFLARE_LABEL', 
    'BFLARE_LABEL', 
    'CFLARE_LABEL', 
    'XFLARE_LABEL', 
    'XFLARE_LABEL_LOC', 
    'BFLARE_LABEL_LOC', 
    'MFLARE_LABEL_LOC', 
    'CFLARE_LABEL_LOC', 
    'BFLARE_LOC', 
    'XFLARE_LOC',
    'MFLARE_LOC',
    'CFLARE_LOC'
], axis=1)
df.shape

(2879658, 43)

In [9]:
df_X = df[df.XFLARE != 0]
display(df_X.shape)
df_B = df[df.BFLARE != 0]
display(df_B.shape)
df_C = df[df.CFLARE != 0]
display(df_C.shape)
df_M = df[df.MFLARE != 0]
display(df_M.shape)

(47, 43)

(4652, 43)

(7046, 43)

(703, 43)

In [10]:
df_temp = df[df.IS_TMFI]
display(df_temp.shape)
df_temp = df_temp[df_temp.XR_QUAL==12]
display(df_temp.shape)

(2075865, 43)

(2051184, 43)

In [11]:
df_temp = df_temp.sample(frac=0.01)
display(df_temp.shape)

(20512, 43)

In [12]:
df_temp = df_temp.dropna()

In [13]:
df_data = pd.concat([df_temp, df_X, df_B, df_C, df_M])
df_data.shape

(32784, 43)

In [9]:
df_data['y'] = 0
df_data.loc[df_data['BFLARE'] > 0, 'y'] = 1
df_data.loc[df_data['CFLARE'] > 0, 'y'] = 2
df_data.loc[df_data['MFLARE'] > 0, 'y'] = 3
df_data.loc[df_data['XFLARE'] > 0, 'y'] = 4

In [10]:
df_data['Timestamp'] = pd.to_datetime(df_data['Timestamp'])

In [11]:
df_data = df_data.drop([
    'XFLARE', 
    'BFLARE',
    'CFLARE',
    'MFLARE',
    'IS_TMFI',
    'XR_QUAL',
    'QUALITY',
    'SPEI',
], axis=1)

In [12]:
df_data.sample(5)

,Timestamp,TOTUSJH,TOTBSQ,TOTPOT,TOTUSJZ,ABSNJZH,SAVNCPP,USFLUX,TOTFZ,MEANPOT,...,CRLN_OBS,CRLT_OBS,CRVAL2,HC_ANGLE,LAT_MIN,LON_MIN,LAT_MAX,LON_MAX,XR_MAX,y
1621,2014-01-13 09:12:00,3855.911731,8.699264e+10,1.568015e+24,6.872330e+13,790.347468,3.108382e+13,8.387580e+22,-2.933523e+25,9933.328336,...,26.433075,-4.378037,-13.258850,66.419700,-21.056942,28.797804,-3.970101,86.304688,9.868100e-07,2
1238,2012-05-04 02:48:00,1759.768611,2.211153e+10,2.230206e+23,3.496524e+13,66.359245,6.024287e+12,3.152579e+22,-1.507271e+25,3463.505895,...,281.735870,-3.825040,-22.219950,60.209839,-28.824751,41.747890,-15.378783,74.634911,6.837800e-07,1
613,2015-09-27 10:36:00,2829.836623,5.107480e+10,1.069896e+24,5.248948e+13,620.205063,1.812502e+13,3.200798e+22,-6.333770e+24,17608.362286,...,94.151688,6.879247,-19.843800,28.060997,-24.365845,-3.008589,-14.664344,17.953999,1.947600e-05,3
354,2011-09-08 19:48:00,1590.585785,3.171686e+10,5.645535e+23,3.123600e+13,214.807756,1.021762e+13,2.855311e+22,-1.021726e+25,9885.847886,...,183.337845,7.250689,21.686050,58.230956,17.902380,-67.098160,26.652119,-47.497864,4.881200e-07,0
849,2013-11-09 01:00:00,3409.247736,4.584637e+10,8.969798e+23,6.667821e+13,587.208657,1.189362e+13,3.580967e+22,-6.874105e+24,11640.055777,...,167.349655,3.532138,-9.219151,12.877708,-17.834396,-10.179320,-1.091376,14.692019,1.072600e-06,0

In [13]:
df_data.corr()[['y']]

                  y
Timestamp  0.029987
TOTUSJH    0.565418
TOTBSQ     0.527332
TOTPOT     0.137785
TOTUSJZ    0.559952
ABSNJZH    0.449720
SAVNCPP    0.468942
USFLUX     0.556764
TOTFZ     -0.529536
MEANPOT   -0.006125
EPSZ       0.459889
MEANSHR    0.473193
SHRGT45    0.486780
MEANGAM    0.419235
MEANGBT   -0.436099
MEANGBZ   -0.349740
MEANGBH   -0.013596
MEANJZH    0.014119
TOTFY     -0.116472
MEANJZD   -0.152130
MEANALP    0.026549
TOTFX      0.010837
EPSY       0.006812
EPSX      -0.015818
R_VALUE    0.648474
CRVAL1    -0.003014
CRLN_OBS   0.006083
CRLT_OBS   0.009549
CRVAL2    -0.033274
HC_ANGLE   0.306510
LAT_MIN   -0.102843
LON_MIN   -0.088230
LAT_MAX    0.043541
LON_MAX    0.052506
XR_MAX    -0.036833
y          1.000000

In [14]:
df_data.shape

(32960, 36)

In [ ]:
df_analysis = df_data[[
    'TOTUSJH', 
    'TOTBSQ', 
    'TOTPOT',
    'TOTUSJZ', 
    'ABSNJZH', 
    'SAVNCPP', 
    'USFLUX', 
    'TOTFZ', 
    'EPSZ', 
    'MEANSHR', 
    'SHRGT45', 
    'MEANGAM', 
    'MEANGBT',
    'MEANGBZ',
    'R_VALUE',
    'HC_ANGLE',
    'y'
]]

In [15]:
df_data.to_csv('data.csv')
# os.remove('combine.csv')