In [1]:
import os
import pandas as pd
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from tqdm import tqdm

In [2]:
def read_csv_file(file_path, df):
    df1 = pd.read_csv(file_path, sep='\t')
    return pd.concat([df, df1])

In [3]:
COLAB_PATH = os.getcwd()
DATA_PATH = os.path.join(COLAB_PATH, 'data')
dirs = os.listdir(DATA_PATH)
df = pd.DataFrame()
for dir in dirs:
    if "partition" in dir:
        FOLDER_PATH = os.path.join(DATA_PATH, dir)
        print(FOLDER_PATH)
        files = os.listdir(FOLDER_PATH)
        for file in tqdm(files):
            df = read_csv_file(os.path.join(FOLDER_PATH, file), df)
# df.to_csv('combine.csv')

/Users/dpradhan/Documents/USUCourses/DataSciencePractice/cs5830_final-project/data/partition5

100%|███████████████████████████████████████| 1209/1209 [01:18<00:00, 15.39it/s]

/Users/dpradhan/Documents/USUCourses/DataSciencePractice/cs5830_final-project/data/partition2

100%|███████████████████████████████████████| 1045/1045 [05:24<00:00,  3.22it/s]

/Users/dpradhan/Documents/USUCourses/DataSciencePractice/cs5830_final-project/data/partition3

100%|█████████████████████████████████████████| 474/474 [03:47<00:00,  2.09it/s]

/Users/dpradhan/Documents/USUCourses/DataSciencePractice/cs5830_final-project/data/partition4

100%|█████████████████████████████████████████| 565/565 [05:36<00:00,  1.68it/s]

/Users/dpradhan/Documents/USUCourses/DataSciencePractice/cs5830_final-project/data/partition1

100%|█████████████████████████████████████████| 805/805 [11:26<00:00,  1.17it/s]

In [5]:
display(df.shape)
display(df.columns)

(2879658, 55)

Index(['Timestamp', 'TOTUSJH', 'TOTBSQ', 'TOTPOT', 'TOTUSJZ', 'ABSNJZH',
       'SAVNCPP', 'USFLUX', 'TOTFZ', 'MEANPOT', 'EPSZ', 'MEANSHR', 'SHRGT45',
       'MEANGAM', 'MEANGBT', 'MEANGBZ', 'MEANGBH', 'MEANJZH', 'TOTFY',
       'MEANJZD', 'MEANALP', 'TOTFX', 'EPSY', 'EPSX', 'R_VALUE', 'CRVAL1',
       'CRLN_OBS', 'CRLT_OBS', 'CRVAL2', 'HC_ANGLE', 'SPEI', 'LAT_MIN',
       'LON_MIN', 'LAT_MAX', 'LON_MAX', 'QUALITY', 'BFLARE', 'BFLARE_LABEL',
       'CFLARE', 'CFLARE_LABEL', 'MFLARE', 'MFLARE_LABEL', 'XFLARE',
       'XFLARE_LABEL', 'BFLARE_LOC', 'BFLARE_LABEL_LOC', 'CFLARE_LOC',
       'CFLARE_LABEL_LOC', 'MFLARE_LOC', 'MFLARE_LABEL_LOC', 'XFLARE_LOC',
       'XFLARE_LABEL_LOC', 'XR_MAX', 'XR_QUAL', 'IS_TMFI'],
      dtype='object')

In [6]:
df['y'] = 0
df.loc[df['BFLARE'] > 0, 'y'] = 1
df.loc[df['CFLARE'] > 0, 'y'] = 2
df.loc[df['MFLARE'] > 0, 'y'] = 3
df.loc[df['XFLARE'] > 0, 'y'] = 4
display(df.shape)
display(df.columns)

(2879658, 56)

Index(['Timestamp', 'TOTUSJH', 'TOTBSQ', 'TOTPOT', 'TOTUSJZ', 'ABSNJZH',
       'SAVNCPP', 'USFLUX', 'TOTFZ', 'MEANPOT', 'EPSZ', 'MEANSHR', 'SHRGT45',
       'MEANGAM', 'MEANGBT', 'MEANGBZ', 'MEANGBH', 'MEANJZH', 'TOTFY',
       'MEANJZD', 'MEANALP', 'TOTFX', 'EPSY', 'EPSX', 'R_VALUE', 'CRVAL1',
       'CRLN_OBS', 'CRLT_OBS', 'CRVAL2', 'HC_ANGLE', 'SPEI', 'LAT_MIN',
       'LON_MIN', 'LAT_MAX', 'LON_MAX', 'QUALITY', 'BFLARE', 'BFLARE_LABEL',
       'CFLARE', 'CFLARE_LABEL', 'MFLARE', 'MFLARE_LABEL', 'XFLARE',
       'XFLARE_LABEL', 'BFLARE_LOC', 'BFLARE_LABEL_LOC', 'CFLARE_LOC',
       'CFLARE_LABEL_LOC', 'MFLARE_LOC', 'MFLARE_LABEL_LOC', 'XFLARE_LOC',
       'XFLARE_LABEL_LOC', 'XR_MAX', 'XR_QUAL', 'IS_TMFI', 'y'],
      dtype='object')

In [7]:
df = df.drop([
    'MFLARE_LABEL', 
    'BFLARE_LABEL', 
    'CFLARE_LABEL', 
    'XFLARE_LABEL', 
    'XFLARE_LABEL_LOC', 
    'BFLARE_LABEL_LOC', 
    'MFLARE_LABEL_LOC', 
    'CFLARE_LABEL_LOC', 
    'BFLARE_LOC', 
    'XFLARE_LOC',
    'MFLARE_LOC',
    'CFLARE_LOC',
    'XFLARE', 
    'BFLARE',
    'CFLARE',
    'MFLARE',
    'XR_MAX',
], axis=1)
df.shape

(2879658, 39)

In [12]:
df['y'].value_counts()

y
0    2867215
2       7044
1       4649
3        703
4         47
Name: count, dtype: int64

In [22]:
df_no_flares = df.loc[df['y'] == 0]
df_no_flares.sample(5)

,Timestamp,TOTUSJH,TOTBSQ,TOTPOT,TOTUSJZ,ABSNJZH,SAVNCPP,USFLUX,TOTFZ,MEANPOT,...,HC_ANGLE,SPEI,LAT_MIN,LON_MIN,LAT_MAX,LON_MAX,QUALITY,XR_QUAL,IS_TMFI,y
907,2015-01-16 10:12:00,115.042834,1.320563e+09,1.247108e+22,2.246577e+12,4.667056,6.464892e+11,1.531521e+21,-6.646182e+23,4218.580504,...,11.339448,True,-16.222870,-1.229158,-6.962595,16.275675,0.0,12,True,0
491,2011-09-09 23:12:00,1921.886986,3.793305e+10,7.260440e+23,3.987727e+13,381.208211,1.463460e+13,3.015232e+22,-9.345549e+24,11871.138943,...,43.862663,True,18.190350,-55.205151,27.566216,-32.911865,0.0,12,True,0
596,2014-02-09 11:24:00,650.684241,8.551191e+09,1.445524e+23,1.526463e+13,71.569854,4.826796e+12,7.827807e+21,-2.208979e+24,8046.578944,...,21.839263,True,1.054148,-24.583544,10.352530,-11.287811,0.0,12,True,0
773,2015-03-28 19:12:00,736.887582,5.544751e+09,5.457102e+22,1.749918e+13,93.866239,6.910337e+12,9.527869e+21,-3.495241e+24,2440.534053,...,20.598992,True,2.389273,-25.392481,22.804871,16.151649,0.0,12,True,0
55,2014-01-31 05:24:00,17.292013,1.041327e+08,1.223459e+21,5.026830e+11,4.728189,1.227779e+11,1.458736e+20,-2.525715e+22,2344.144663,...,10.842520,True,-11.167577,6.508239,-9.402390,10.045568,0.0,12,True,0

In [23]:
df_no_flares = df_no_flares[df_no_flares.IS_TMFI==True]
display(df_no_flares.shape)

(2067712, 39)

In [24]:
df_no_flares = df_no_flares[df_no_flares.XR_QUAL==12]
display(df_no_flares.shape)

(2043066, 39)

In [26]:
df_no_flares = df_no_flares.dropna()
df_no_flares.shape

(2023617, 39)

In [27]:
df_no_flares = df_no_flares.sample(frac=0.01)
display(df_no_flares.shape)

(20236, 39)

In [28]:
df_flares = df.loc[df['y'] != 0]
df_flares.sample(5)

,Timestamp,TOTUSJH,TOTBSQ,TOTPOT,TOTUSJZ,ABSNJZH,SAVNCPP,USFLUX,TOTFZ,MEANPOT,...,HC_ANGLE,SPEI,LAT_MIN,LON_MIN,LAT_MAX,LON_MAX,QUALITY,XR_QUAL,IS_TMFI,y
1515,2015-03-18 14:24:00,1264.020220,2.211211e+10,3.059855e+23,2.172032e+13,431.856521,1.562873e+13,2.560062e+22,-1.191569e+25,6419.522541,...,69.635193,True,-25.434742,61.182724,-13.657822,79.252777,0.0,12,True,2
312,2015-01-08 15:48:00,900.696323,9.651117e+09,6.801565e+22,2.004277e+13,91.396396,5.374307e+12,1.798627e+22,-8.457749e+24,1821.557316,...,57.865408,True,10.584682,-65.882011,19.604328,-41.900948,0.0,12,True,2
847,2012-08-13 12:36:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,False,NaN,NaN,NaN,NaN,NaN,12,False,2
971,2014-05-21 08:24:00,309.946406,4.051947e+09,4.364569e+22,5.710092e+12,0.711843,1.042897e+12,5.027344e+21,-2.521294e+24,4675.575940,...,59.622484,True,-20.463892,51.908009,-14.880850,62.661709,0.0,12,True,1
287,2015-01-09 05:48:00,1996.910851,3.427240e+10,4.864610e+23,3.931992e+13,233.288133,1.316720e+13,3.987497e+22,-1.727417e+25,6499.846372,...,56.523539,True,-30.294910,-72.585892,-7.282441,-31.456282,0.0,12,True,2

In [29]:
df_flares = df_flares.dropna()
display(df_flares.shape)

(11905, 39)

In [30]:
df_data = pd.concat([df_flares, df_no_flares])
df_data.shape

(32141, 39)

In [31]:
df_data['Timestamp'] = pd.to_datetime(df_data['Timestamp'])

In [32]:
df_data.columns

Index(['Timestamp', 'TOTUSJH', 'TOTBSQ', 'TOTPOT', 'TOTUSJZ', 'ABSNJZH',
       'SAVNCPP', 'USFLUX', 'TOTFZ', 'MEANPOT', 'EPSZ', 'MEANSHR', 'SHRGT45',
       'MEANGAM', 'MEANGBT', 'MEANGBZ', 'MEANGBH', 'MEANJZH', 'TOTFY',
       'MEANJZD', 'MEANALP', 'TOTFX', 'EPSY', 'EPSX', 'R_VALUE', 'CRVAL1',
       'CRLN_OBS', 'CRLT_OBS', 'CRVAL2', 'HC_ANGLE', 'SPEI', 'LAT_MIN',
       'LON_MIN', 'LAT_MAX', 'LON_MAX', 'QUALITY', 'XR_QUAL', 'IS_TMFI', 'y'],
      dtype='object')

In [33]:
df_data = df_data.drop([
    'CRVAL1',
    'CRLN_OBS', 
    'CRLT_OBS', 
    'CRVAL2', 
    'HC_ANGLE', 
    'SPEI', 
    'LAT_MIN',
    'LON_MIN', 
    'LAT_MAX', 
    'LON_MAX', 
    'QUALITY', 
    'XR_QUAL', 
    'IS_TMFI'
], axis=1)

In [34]:
df_data.sample(5)

,Timestamp,TOTUSJH,TOTBSQ,TOTPOT,TOTUSJZ,ABSNJZH,SAVNCPP,USFLUX,TOTFZ,MEANPOT,...,MEANGBH,MEANJZH,TOTFY,MEANJZD,MEANALP,TOTFX,EPSY,EPSX,R_VALUE,y
653,2014-11-09 14:12:00,35.418636,2.155194e+08,1.718073e+21,7.417155e+11,1.100370,4.318972e+10,3.768934e+20,-1.638307e+23,1948.322948,...,63.790037,0.001657,-7.439850e+22,0.084173,0.006494,-4.614585e+22,0.259935,0.161226,2.003868,0
257,2011-02-14 12:36:00,177.359527,1.504081e+09,1.120153e+22,3.856975e+12,27.832652,1.804825e+12,2.931330e+21,-1.312363e+24,1848.073040,...,36.906761,0.006098,4.018629e+23,-0.743018,0.022335,3.963672e+23,-0.201184,-0.198433,0.000000,0
102,2017-11-17 03:48:00,50.184912,3.778164e+08,3.463896e+21,1.044649e+12,10.032482,4.056207e+11,5.349006e+20,-2.108180e+23,2891.650875,...,82.087696,0.011122,5.267773e+22,0.771676,0.037396,-1.127749e+23,-0.104987,0.224760,1.893584,0
809,2012-07-29 15:00:00,4366.764602,6.367477e+10,1.040913e+24,8.806018e+13,26.884507,1.176457e+12,6.589724e+22,-2.380339e+25,8176.956493,...,50.806088,0.000280,-6.565660e+24,0.018742,0.000659,8.084499e+24,0.077642,-0.095603,4.858811,2
55,2016-04-25 20:00:00,332.305389,4.587397e+09,3.728376e+22,5.318862e+12,91.838143,3.535448e+12,6.361062e+21,-3.649316e+24,3431.631312,...,40.422745,0.011226,1.772778e+23,-0.250516,0.025040,7.990113e+23,-0.029099,-0.131152,4.425461,1

In [35]:
df_data.shape

(32141, 26)

In [36]:
df_data.to_csv('data.csv')